.oe-visible{
	visibility: hidden !important;
}

.round-btn {
    float: right !important;
	border-radius: 13px !important;
	/* background: #73AD21 !important; */
	color: white !important;
	font-size: 20px !important;
	margin-left: 10px !important;
	min-width: 27px !important;
	line-height: 27px !important;
	height: 28px !important;
}

.pos-lines-header{
	border: 1px solid black;
	margin-top: 20px !important;
	border-bottom: 0px !important;
}

.pos-lines-header-li{
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-left: 15px !important;
	padding-right: 15px !important;
	background: #a569bd !important;
	border-radius: 3px;
 }

.pos-lines{
	/* border: 1px solid black; */
/* 	margin-top: 20px !important;
 */	box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19) !important;
/* 	border-radius: 30px;
 */	width: 30%;
    float: left;
    margin:0 1.5% 2% !important;    
}
.pos-prod-name{
	width: 45% !important;
}
.pos-prod-name65{
	width: 55% !important;
}

.pos-kit-order{
	margin-left: 15%;
	margin-right: 15%;
	max-width: 100% !important;
    margin: 0 1.5%;
    width: 98%;
}

.pos-table-no{
	display: inline-block;
	color: white !important;
	width:45%
}
.pos-table-time{
	/* width: 50% !important;
	display: inline-block; */
	color: white !important;
	/* margin-left:72%;  */
	/* margin-left: 60px; */
	width:30%;
	display:inline-block;
	
}
.pos-order-name{
	color: white !important;
	dispaly:50%
	
	
}
.pos-kit-status-div{
	width:40%; 
	float:right;
} 
.pos-kit-status100{
	width: 100%;
	display: inline-block;
} 

.pos-kit-forward{
	float:right;
	width: 20%;
	padding: 0;
	margin: 0 !important;
	display: inline-block;
}
.pos-kit-status-name{
	margin-left: 10px; 
	font-weight: bold; 
	float: right;
	margin-top: 4px !important;
	width: 50%;
	padding: 0;
	margin: 0;
	display: inline-block;
	text-align: center;
} 
.pos-status-name{
	margin-left: 10px;
	font-weight: bold; 
	float: right;
}
.pos-kit-reverse{
	float:right;
	width: 20% !important;
	padding: 0;
	margin: 0 !important;
	display: inline-block;
}
.pos-kit-price{
	width:14%;
}
.pos-width100{
	width:100% !important;
	height:100% !important;
}
.red-color{
	color: #dc7633 !important;
}
.blue-color{
	color: #3498db !important;
}
.yellow-color{
	color: #EEC808 !important;
}
.green-color{
	color: #2ecc71 !important;
}
.red-bgcolor{
	background: #dc7633 !important;
}
.blue-bgcolor{
	background: #3498db !important;
}
.green-bgcolor{
	background: #2ecc71 !important;
}
.yellow-bgcolor{
	background: #EEC808 !important;
}
.pos-ms-name{
	text-align: left !important;
	font-size: 78% !important;
}
.pos-note{
	width: 60% !important;
	color: #2980b9 !important;
}
.pos-lines .orderline:nth-child(odd) { 
	 background: #d1f2eb; 
	 padding-bottom: 15px !important;
     /* font-size: 36px; 
     color:white;  */
} 
.pos-lines .orderline:nth-child(even) { 
     background: #d6eaf8; 
     padding-bottom: 15px !important;
     /* font-size: 36px; 
     color:yellow; */ 
} 
.table_ready{
	position: absolute;
    top: 0;
    left: 82%;
    background: black;
    width: 20px;
    margin-top: 1px;
    margin-left: -10px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    font-size: 16px;
    z-index: 10;
}
@keyframes up-right {
    0% {
        transform: scale(1);
        opacity: .25
    }
    50% {
        transform: scale (1, 5);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: .25;
    }
}
.circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    opacity: .25;
}
.red {
    background-color: red;
    position: absolute;
    /* top: 50%;
    left: 50%; */
    -webkit-animation: up-right 1s infinite;
    -moz-animation: up-right 1s infinite;
    -o-animation: up-right 1s infinite;
    animation: up-right 1s infinite;
}

/* start code - kitchen view alignment  */

@media only screen and (min-width: 320px) and (max-width: 992px) {
	.pos-kit-order > .pos-lines {
		width: 100%;
		margin:2% 0% !important;
		
	}
}

@media only screen and (min-width: 993px){ 
	.pos-kit-order > .pos-lines {
		height:136px;
		width: 48%;
		margin:1% 1% !important;
		background: #d6eaf8;		 
	}
}
@media only screen and (min-width: 1440px){ 
	.pos-kit-order > .pos-lines {
	height: 136px;
    width: 31.33%;
    margin: 1% 1% !important;}
}
	

 @media only screen and (min-width: 768px) and (max-width: 1023px) {
.pos .pos-rightheader {
left: 314px;
} 
 }
 
/* End code - kitchen view alignment */
	

