.about_section1, .about_section2, .about_section3 {
	height: 60em;
}

.sks_container {
	max-width: 100% !important;
}

.sks-slide-div {
	height: 789px;
	width: 100%;
	line-height: 1.5;
}

.sks-sec1-content {
	letter-spacing: -0.06em;
	text-align: left;
	font-size: 68px;
	font-weight: 900;
	color: #29ce84;
	margin: 5rem;
}

.sks-sec2-content {
	letter-spacing: -0.04em;
	line-height: 2em;
	text-align: left;
	font-size: 41px;
	font-weight: 900;
	color: rgba(255, 255, 255, 0.21);
	margin: 5rem;
}

.sks-sec2-content>span {
	color: #fff;
	border: none;
	border-bottom: 1px solid;
	-o-border-image: url(https://www.vincit.com/dist/callout-border-dot.svg)
		1 repeat;
	border-image: url(https://www.vincit.com/dist/callout-border-dot.svg) 1
		repeat;
}

.sks-abt-sec3-lhs {
	float: left;
	width: 50%;
	height: 100%;
}

.sks-abt-sec3-lhs-content {
	margin: 5rem;
}

.sks-abt-sec3-lhs-content  p {
	text-align: left;
	color: #161517;
	font-size: 11px;
	letter-spacing: 1.83px;
	line-height: 22px;
	font-weight: 800;
	text-transform: uppercase;
	font-weight: 300;
}

.sks-abt-sec3-lhs-content  h2 {
	color: #161517;
	font-size: 26px;
	line-height: 33px;
	font-weight: 600;
	font-family: Proxima Nova A, Helvetica, sans-serif;
	margin-bottom: 5rem;
}

.sks-abt-sec3-rhs {
	float: right;
	width: 50%;
	height: 100%;
}