.sks_container {
	max-width: 100%;
}

.sks-sec1-contact-slide-div {
	height: 789px;
	width: 100%;
	line-height: 1.5;
}

.sks-sec1-contact-p {
	text-align: center;
	font-size: 20em;
	font-weight: 900;
	color: rgba(0, 0, 0, 0.21);
}

.sks-sec2-contact-div1 {
	width: 100%;
}

.sks-sec2-contact-div2 {
	width: 50%;
	float: right;
	height: 50em;
}

.sks-sec2-contact-img {
	width: 100%;
}

.sks-sec2-contact-div3 {
	width: 50%;
	float: left;
	height: 50em;
	background-color: #8f4ddf;
}

.sks-sec2-contact-div4 {
	margin: 5%;
}

.sks-sec2-contact-h2 {
	font-size: 3.5em;
	font-weight: 600;
	padding-bottom: 10px;
	color: #fff;
}

.sks-sec2-contact-p1 {
	font-family: 'Encode Sans Semi Condensed', sans-serif;
	font-size: 15px;
	letter-spacing: 2px;
	text-align: left;
	color: #d0d3d4;
}

.sks-sec2-contact-p2 {
	float: left;
	font-family: 'Encode Sans Semi Condensed', sans-serif;
	font-size: 12px;
	letter-spacing: 2px;
	color: #999999;
}

.sks-sec2-contact-div5 {
	margin-top: 20px;
	font-size: 18px;
	float: left;
}

.p3-container {
	line-height: 3em;
}

.sks-career-form-label {
	color: #fff;
	font-size: 22px;
}

.sks-career-form {
	outline: none;
	width: 15.6em;
	border: none;
	border-bottom: 1px solid;
	border-color: inherit;
	color: inherit;
	font-size: 22px;
	background: transparent;
	padding: 0.375rem 0.75rem;
}

.sks-career-form:focus {
	outline: none;
	width: 15.6em;
	border: none;
	border-bottom: 1px solid;
	border-color: inherit;
	color: #fff;
	font-size: 22px;
	background: transparent;
}

input.sks-career-form {
	color: #ffffff;
}

input.sks-career-form {
    background-color: transparent !important;
}

.btn-next {
	margin: 10px;
	border-radius: 20px;
	background-color: transparent;
	color: #f5f5f5 !important;
	font-size: 16px;
	width: 155px;
	border: 1px solid #fff;
}

.btn-next:hover {
	background-color: #fff;
	color: #8f4ddf !important;
}

#one {
	box-shadow: 2px 2px 6px 3px rgba(255, 255, 255, 0.2);
	line-height: 4em;
    width: 100%;
}

.sks-carieer-form-flds {
	margin: 2%;
}

.it .btn-orange {
	background-color: transparent;
	border-color: #777 !important;
	color: #777;
	text-align: left;
	width: 100%;
}

.it input.form-control {
	height: 54px;
	border: none;
	margin-bottom: 0px;
	border-radius: 0px;
	border-bottom: 1px solid #ddd;
	box-shadow: none;
}

.it .form-control:focus {
	border-color: #ff4d0d;
	box-shadow: none;
	outline: none;
}

.fileUpload {
	position: relative;
	overflow: hidden;
	margin: 10px;
}

.fileUpload input.upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity = 0);
}

.it .btn-check {
	cursor: pointer;
	line-height: 54px;
	color: red;
}

.it .btn-orange img {
	width: 30px;
}

p {
	font-size: 16px;
	text-align: center;
	margin: 30px 0px;
}

.it #uploader .docErr {
	position: absolute;
	right: auto;
	left: 10px;
	top: -56px;
	padding: 10px;
	font-size: 15px;
	background-color: #fff;
	color: red;
	box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.2);
	display: none;
}

.it #uploader .docErr:after {
	content: '\f0d7';
	display: inline-block;
	font-family: FontAwesome;
	font-size: 50px;
	color: #fff;
	position: absolute;
	left: 30px;
	bottom: -40px;
	text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
}

#uploader {
	width: 100%;
}

.uploadDoc {
	margin: 0%;
}

.sks-form-upload-btn {
	width: 30%;
    margin-left: 20%;
    margin-right: 0%;
}

.sks-form-submit-btn {
	width: 30%;
    margin-left: 0%;
    margin-right: 20%;
}

.sks-form-style-4 {
	font-size: 22px;
	color: #fff;
	padding: 20px 20px 20px 20px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px solid #ffffff;
    width: 15.6em;
	overflow: hidden;
	resize:none;
	height:3em;
}
.sks-form-style-4:hover {
    background-color: transparent;
}

