.sks_float_input.name {
	width: 25rem;
}

.sks_float_input.company {
	width: 27.2rem;
}

.sks_float_input.project {
	width: 37.3rem;
	height: 2.1em;
}

.sks_float_input.email {
	width: 22.5rem;
	height: 2.1em;
}

.sks_float_input.phone {
	width: 22.5rem;
	height: 2em;
}

.sks_float_input.hire_name {
	width: 25rem;
}

.sks_float_input.hire_company {
	width: 27.2rem;
}

.sks_float_input.hire_project {
	width: 37.3rem;
	height: 2.1em;
}

.sks_float_input.hire_email {
	width: 22.5rem;
	height: 2.1em;
}

.sks_float_input.hire_phone {
	width: 22.5rem;
	height: 2em;
}

.sks_float_input.develop_name {
	width: 25rem;
}

.sks_float_input.develop_company {
	width: 27.2rem;
}

.sks_float_input.develop_project {
	width: 37.3rem;
	height: 2.1em;
}

.sks_float_input.develop_email {
	width: 22.5rem;
	height: 2.1em;
}

.sks_float_input.develop_phone {
	width: 22.5rem;
	height: 2em;
}

.sks_float_form.soft_imp {
	line-height: 2em;
}

.sks_float_form.hire_form {
	line-height: 2.2em;
}

.sks_float_form.development_form {
	line-height: 2.2em;
}