
.grade_display_none{
	display: none;
}
.grade_display{
	display: block;
}
.grade_header_div{
	width: 100%;
    /* margin-top: 6%; */
    position: relative;
    background: #FFF;
    /* display: inline-block; */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    min-height: 400px;
}
.grade_table{
	width: 50%;
	margin-top: 15%;
}
}
.grade_span{
	font-size: 30px
}
.grade_select{
	width: 100%;
    display: inline-block;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.grade_tab_div{
	width: 100%;
}

/** Subjects style */
.subject-card{
	position: relative;
    background: #FFF;
    display: inline-block;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin-bottom: 20px;
    width: 100%;
    /* margin-top: 6%; */
    min-height: 400px;
}
.mb20 {
    margin-bottom: 20px;
}
.pdl0 {
    padding-left: 0 !important;
}
.mb20 {
    margin-bottom: 20px !important;
}
.subject-list {
    background: #bfd8d2;
    border-radius: 5px;
    padding: 15px;
    display: block;
}
.subject-list-name {
    display: inline-block;
}
.subject-list-name h4 {
    font-weight: 400 !important;
}
.subject-list-name p {
    font-size: 12px;
    color: #F5972F;
    margin-bottom: 0;
    font-weight: 600;
}
.floatleft{
	float: left;
}
.font16 {
    font-size: 16px !important;
}
.text-blue {
    color: #1D4793 !important;
}
.mt0 {
    margin-top: 0px !important;
}
.mb5 {
    margin-bottom: 5px !important;
}
.font-medium {
    font-weight: 500 !important;
}
.mb10 {
    margin-bottom: 10px !important;
}
.bread-c {
    display: inline-block;
}
.bread-c .pd-breadcrumb {
    padding-right: 10px;
}
.pd-breadcrumb {
    background: transparent;
    padding: 0 205px 10px 0;
    padding-left: 5px;
    margin-bottom: 0;
}

.breadcrumb>li {
    display: inline-block;
}
.pd-breadcrumb>li a {
    color: #265fc2;
    font-size: 14px;
}
.pd-breadcrumb>li+li:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #265fc2;
    font-size: 18px;
    font-weight: 500;
    padding: 0 8px;
}
.subject-click {
    display: inline-block;
    float: right;
}
.subject-click img {
    background: #ce89ce;
    padding: 5px;
    border-radius: 5px;
    float: right;
    width: 50px;
}

/** Accordion Style */
.topic-panel-group .topic-panel {
	border-radius: 0;
	box-shadow: none;
	border-color: #EEEEEE;
}

.topic-panel-default > .topic-panel-heading {
	padding: 0;
	border-radius: 5px;
	color: #212121;
	background-color: #edbf47;
	margin-bottom: 1%;
}

.topic-panel-title {
	font-size: 16px;
}

.topic-panel-title > a {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: white;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-left: 3%;
}

.topic-more-less {
	float: right;
	color: #212121;
}

.topic-panel-default > .topic-panel-heading + .topic-panel-collapse > .topic-panel-body {
	border-top-color: #EEEEEE;
}
	
.mb0 {
    margin-bottom: 0px !important;
}
.topic-content{
	border: 1px solid rgba(0, 0, 0, 0.125);
	/* border-top: 0px; */
    margin-bottom: 1%;
}

/** Topics Horizontal tab Style */
.grade-tabs {
  padding: 40px;
  background: #F5F5F5;
}
.grade-tabs .grade-tab-nav {
  text-align: left;
  margin: 0 0 40px 0;
}
.grade-tabs .grade-tab-nav li {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.grade-tabs .grade-tab-nav li span {
  text-transform: uppercase;
  color: #265fc2;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  font-weight: bold;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
  background: lightgray;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.grade-tabs .grade-tab-nav li:hover > span, .grade-tabs .grade-tab-nav li.active > span {
  background: #6fc191;
  text-decoration: none;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 2px;
}
.grade-tabs .grade-tab {
  display: none;
}
.grade-tabs .grade-tab.active {
  display: block;
}

.pd-em{
	padding: 0.50rem;
    background: #6fc191;
}
.doc-text{
	text-align: center;
}
.doc-color{
	color: white;
}
.main-leftpanel{
	width: 75%;
    background: #e16c6c;
    height: 100%;
}
.main-btn-div{
	margin-top: 20%;
    display: inline-block;
    width: 100%;
    padding: 3%;
    padding-left: 5%;
    padding-right: 5%;
}
.profile-image{
	position: relative;
    display: inline-block;
    width: 100%;
    display: inline-block;
    margin-top: 10%;
}
.profile-image img {
    margin: 0 auto;
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.user-role{
	color: white;
    text-align: center;
    border: 1px solid #f7992f;
    cursor: pointer;
}
.user-role:hover{
	background: #f7992f;
}

.dflex{
	display: flex;	
}
.dflex img{
	width: 25%;	
}
.quiz-choose{
	display: flex;
    margin-left: 1em;
    line-height: 1;
}
.quiz-choose-ml{
	margin-left: 1%;
}
.quiz-choose-ml img{
	width:30%;
}
.quiz-next-btn{
	float: left;
    padding: 0.5%;
    color: white;
    text-align: center;
    cursor: pointer;
    background: #edbf47;
    width: 10%;
    border-radius: 7%;
    margin-top: 9%;
    margin-left: 1%;
}
.quiz-previous-btn{
	float: left;
    padding: 0.5%;
    color: white;
    text-align: center;
    cursor: pointer;
    background: #edbf47;
    width: 10%;
    border-radius: 7%;
    margin-top: 9%;
    margin-left: 37%;
}
.quiz-submit-btn{
	float: left;
    padding: 0.5%;
    color: white;
    text-align: center;
    cursor: pointer;
    background: #df744a;
    width: 10%;
    border-radius: 7%;
    margin-left: 1%;
    margin-top: 9%;
}

.ul_menu{
	list-style-type:none;
	font-size: 16px;
    color: white;
    font-weight: 500;
}
ul.user-role{
	list-style-type:none;
}
ul.ul_menu li {
    padding:5px;
}
.title_img{
	width: 25%;
	position: absolute;
	bottom: 0;
}
.postlogin-heading {
    position: relative;
    margin-bottom: 0;
    margin-left: 5px;
}
.postlogin-heading_h4 {
    padding-left: 40px;
    position: relative;
    font-size: 21px;
    color: #FFF;
    font-weight: 600;
    line-height: 90px;
    margin: 0 0 0 0px;
    top: 15px;
}
.postlogin-head-img{
	width: 10%;
    padding-left: 30px;
    position: absolute;
    margin: 0 0 0 107px;
    top: 30px;
}
.result-wd{
	width: 50%;
}
.result-div{
	width: 50%;
    display: inline-block;
}
.result-span{
	font-size: 20px;
}
.result-td{
	width:50%;
}
.result-text{
	text-align: center;
}
.progress_chart{
	width: 50%;
    float: right;
    display: inline-block;
}