.hm-container {
    width:100%;
    height: 100%;
    text-align:center;
}

.hm-top-container{
	width: 94%;
	height: 17%;
	margin-left: 3%;
    margin-right: 3%;
}

.hm-left-container {
    float:left;
    width:20%;
    height: 100%;
    background: #fff;
	box-shadow: 0 0 20px #dee5e9;
}

.hm-center-container {
    display: inline-block;
    margin:0 auto;
    width:60%;
    height: 100%;
    background: #f0f1fc;
    
    /* background: #f6f7fd; */
}

.hm-right-container {
    float:right;
    width:20%;
    height: 100%;
    background: #fff;
	box-shadow: 0 0 20px #dee5e9;
}

.hm-center-form-design{
	height: 80%;
}

.hm-center-form-container{
	width: 94%;
	height: 85%;
	margin-left: 3%;
    margin-right: 3%;
    background: white;
	border-radius: 5px;
	/* box-shadow: 0 0 20px #dee5e9; */
	box-shadow: 0 0 20px #C7CACB;
}

.hm-top-div{
	/* width: 100%;
	display: inline-block;
	margin-top: 4%; */
	display: table;
	height: 100%;
	width: 100%;
}
.hm-top-div1{
	display: table-cell;
	vertical-align: middle;
}
.hm-top-inner-div{
	display: table;
	width: 90%;
	height: 50%;
}
.hm-top-inner-div1{
	display: table-cell;
	vertical-align: middle;
	background: white;
	border-radius: 5px;
	box-shadow: 0 0 20px #dee5e9;
	cursor: pointer;
}

.hm-top-inner-div1:hover{
	background: #06f !important;
	color: white !important;
}

.hm-top-inner-selected{
	background: #06f !important;
	color: white !important;
}
.hm_menu_inner_selected{
	color: white !important;
    border-radius: 80px;
    background: #3385ff !important;
}
/* .hm-top-buttons{
	display: inline-block;
	background: white;
	padding: 15%;
	border-radius: 5px;
	box-shadow: 0 0 20px #dee5e9;
	cursor: pointer;
} */

.hm-display-none{
	display: none;
}

.hm-placeholder{
	color: #aaa !important;
}

.hm-title-div{
	width: 94%;
	display: inline-block;
	margin-left: 3%;
	margin-right: 3%;
}

.hm-title-span{
	float: left;
	margin-bottom: 3%;
	font-size: 18px;
	font-weight: bold;
	color: black;
}

.hm-form-table{
	width: 100%;
	height: 100%;
	display: inline-block;
}

.hm-form-body{
	width: 100%;
	height: 80%;	
	display: inline-block;
	margin-top: 2%;
	margin-bottom: 2%;
}

.hm-form-tr{
	width: 100%;
	display: inline-block;
	margin-top: 2%;
	margin-bottom: 1%;
}

.hm-form-td{
	width: 33.3333%;
	display: inline-block;
	float: left;
}

.hm-form-input{
	width: 80%;
	border: 1px solid gray;
	border-radius: 20px;
	padding: 15px !important;
}

.hm-form-headerlabel{
	float: left;
	margin-left: 6%;
	letter-spacing: 1px;
}

.hm-footer{
	width: 100%;
	height: 16%;
	/* margin-top: 3%; */
	background: #f0f1fc;
	display: inline-block;
}

.hm-footer-div{
	width: 100%;
	display: inline-block;
	float: left;
}

.hm-footer-btn{
	display: inline-block;
	width: 15%;
	float: left;
	margin-left: 5%;
	border-radius: 23px;
	background-color: green;
	padding: 16px;
	cursor: pointer;
}

.hm-footer-td{
	width: 100%;
	display: inline-block;
}
/** Left Panel */
.hm-left-logo{
	width: 100%;
	height: 10%;
}

.hm-left-tree{
	width: 100%;
	height: 90%;
}

.hm-left-tree-body{
	width: 100%;
	display: inline-block;
	margin-top: 8%;
}

.hm-left-tree-tr{
	width: 100%;
	display: inline-block;
	/* margin-top: 10%;
	margin-bottom: 10%; */
	padding: 7%;
	cursor: pointer;
}

.hm-left-tree-img{
	width: 70%;
	height: 70%;
	float: left;
}

.hm-float{
	float: left;
}

.hm-logo-div{
	display: inline-block;
	width: 100%;
	height: 100%;
}

.hm-logo-img{
	width: 80%;
	height: 80%;
	display: inline-block;
}
/** Right Panel */
.hm-right-div{
	width: 100%;
	border-bottom: 1px solid gray;
}

.hm-right-label{
	width: 100%;
	display: inline-block;
	margin-top: 5%;
	text-align: left;
	margin-left: 5%;
}

.hm-right-note{
	width: 100%;
	display: inline-block;
	margin-top: 5%;
	font-size: 16px;
	color: gray;
	letter-spacing: 1px;
}
.hm-right-note-page{
	display: inline-block;
	width: 90%;
	text-align: left;
}

.hm-right-reserve{
	width: 90%;
	display: inline-block;
	/* margin: 5%; */
	height: 75%;
}

.hm-right-reserve-btn{
	display: inline-block;
	min-width: 14%;
	float: left;
	border-radius: 23px;
	padding: 11px;
	cursor: pointer;
	border: 1px solid gray;
	margin-left: 2%;
	margin-top: 5%;
	letter-spacing: 1px;
	font-size: 16px;
}

.hm-delivery-service{
	border: 1px solid #29c107;
	color: #29c107;
}

/** Search View */
.hm-search-form{
	display: inline-block;
	width: 70%;
	margin-top: 20%;
	margin-left: 15%;
	margin-right: 15%;
}

.hm-search-div{
	width: 100%;
	display: inline-block;
}
.hm-search-label{
	text-align: center;
	width: 100%;
}

.hm-search-form-table{
	width: 100%;
	display: inline-block;
	margin-top: 5%;
	background: #f0f1fc;
	padding: 25px;
	border-radius: 50px;
}

.hm-search-form-tbody{
	width: 100%;
	display: inline-block;
}
.hm-search-form-tr{
	width: 100%;
	display: inline-block;
}
.hm-search-form-td-first{
	width: 60%;
	display: inline-block;
	float: left;
}
.hm-search-form-td-same{
	width: 40%;
	display: inline-block;
	float: left;
}
.hm-search-input-border{
	border: none;
}

.hm-search-btn{
	width: 80%;
	border-radius: 22px !important;
	padding: 8px !important;
	letter-spacing: 1px;
}
.hm-fa-icon{
	font-size: 16px;
	margin-left: 5px;
}

.hm-room-service:hover{
	border: 1px solid #32CD32;
 	background: #ffff !important;
}

/* Room Services*/
.rooms_container{
    width: 98%;
    height: 87%;
    border-radius: 5px;
    margin-left: 1%;
    margin-right: 1%;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 0 0 15px #6EC89B;
    display: inline-flex;
}

.res_tables{
	display:inline-flex;
	width: 100%;
    height: 98%;
    position: relative;
    overflow: auto;
}
.res_tables .res_table{
	position: absolute;
	text-align: center;
	font-size: 18px;
	color: slategrey;
	background: #f0f1fc;
	border-radius: 3px;
	cursor: pointer;
	/* box-shadow: 0px 3px rgba(0,0,0,0.07); */
	transition: background, background-color 300ms ease-in-out;
	overflow: hidden;
}

/** Pop Over*/

.popover.top{
	margin-top:-10px
}

.popover.right{
	margin-left:10px
}

.popover.bottom{
	margin-top:10px
}

.popover.left{
	margin-left:-10px
}

.fade.in {
    opacity: 1;
}

.popover {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 975;
    display: none;
    max-width: 276px;
    padding: 1px;
    text-align: left;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
   /*  border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2); */
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);

}

.fade {
    opacity: 0;
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
}


.popover > .arrow {
    border-width: 11px;
    border-top-width: 11px;

}

.popover > .arrow, .popover > .arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-bottom-color: transparent;
    border-style: solid;

}

.popover > .arrow::after {
    content: "";
    border-width: 10px;
    border-top-width: 10px;
}

.popover > .arrow, .popover > .arrow::after {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-bottom-color: transparent;
    border-style: solid;

}
::before, ::after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.popover.top>.arrow{
	bottom:-11px;
	left:50%;
	margin-left:-11px;
	border-top-color:#999;
	border-top-color:rgba(0,0,0,.25);
	border-bottom-width:0
}

.popover.top>.arrow:after{
	bottom:1px;
	margin-left:-10px;
	content:" ";
	border-top-color:#fff;
	border-bottom-width:0
}

.popover.right>.arrow{
	top:50%;
	left:-11px;
	margin-top:-11px;
	/* border-right-color:#999;
	border-right-color:rgba(0,0,0,.25); */
	border-left-width:0
}

.popover.right>.arrow:after{
	bottom:-10px;
	left:1px;
	content:" ";
	border-right-color:#fff;
	border-left-width:0
}

.popover.bottom>.arrow{
	top:-11px;
	left:50%;
	margin-left:-11px;
	border-top-width:0;
	border-bottom-color:#999;
	border-bottom-color:rgba(0,0,0,.25)
	
}

.popover.bottom>.arrow:after{
	top:1px;
	margin-left:-10px;
	content:" ";
	border-top-width:0;
	border-bottom-color:#fff
}

.popover.left>.arrow{
	top:50%;
	right:-11px;
	margin-top:-11px;
	border-right-width:0;
	border-left-color:#999;
	border-left-color:rgba(0,0,0,.25)
}

.popover.left>.arrow:after{
	right:1px;
	bottom:-10px;
	content:" ";
	border-right-width:0;
	border-left-color:#fff
}

.popover {
    text-align: left;
    white-space: normal;
}

.popover-content {
    padding: 9px 14px;
}


.form-group {
    margin-bottom: 15px;
}

/** Product Page */
.pos .order-button.room-service-button{
	background: #6EC89B;
    font-weight: bold;
    font-size: 16px;
    min-width: 128px;
    padding-left: 16px;
    padding-right: 16px;
}

.hm-service-div{
	margin-bottom: 10px;
}

.hm-service-span{
	cursor: pointer;
	padding: 5px;
	font-size: 18px;
}

.select_supplier{
	font-weight: 400 !important;
	width: 135px !important;
	height: 30px;
}
.service_confirm{
	width: 100%;
    border-radius: 15px;
    color: white;
    background: #32CD32;
    border-color: #32CD32;
    outline: none;
    border: 1px solid transparent;
    margin-top: 7px;
}
.service_close{
	width: 100%;
    border-radius: 15px;
    color: white;
    background: #32CD32;
    border-color: #32CD32;
    outline: none;
    border: 1px solid transparent;
    margin-top: 7px;
}
.select_room{
	border: 1px solid #32CD32;
 	background: #ffff !important;
}
.inprogress_room{
	border: 1px solid #32CD32;
 	background: #ffff !important;
}
.rspopup_div{
    margin-left: 5px;
    margin-right: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.room_attendant{
	margin-bottom: 5px;
	font-size:16px;
}
.rs_night_audit_session{
	text-align:left;
	/*width: 1020px;*/
}
.na_session_width{
	width:17% !important;
}
@media screen and (min-width: 1024px) {
    .screen .screen-content{
        border-left:  0px;
        border-right: 0px;
    }
}
div.bhoechie-tab-container{
	border: 0px !important;
	box-shadow: none !important;
}
.hm-booked-service{
	border: 1px solid #32CD32;
 	background: #32CD32 !important;
	color: white !important;
}

.hm-booked-room{
	border: 1px solid #32CD32;
 	background: #fff !important;
}

.hm-right-td{
	/* float: right !important; */
	width: 10%;
}

.hm-form-back-icon{
	font-size: 20px;
	color: white;
	cursor: pointer;
	float: right;
	margin-right: 20%;
	background: #29c107;
	width: 50%;
	border-radius: 23px;
	padding: 1%;
}
/** Back Icon */
.hm-float-icon{
	position: fixed;
    width: 8%;
    height: 16%;
    left: -7%;
    right: 40px;
    margin-top: 20%;
    background-color: gray;
    color: #FFF;
    border-radius: 60%;
    text-align: center;
    margin-bottom: 25%;
    opacity: 0.6;
}
.hm-float-icon:hover{
	position: fixed;
    width: 8%;
    height: 16%;
    left: -4%;
    right: 40px;
    margin-top: 20%;
    background-color: gray;
    color: #FFF;
    border-radius: 100%;
    text-align: center;
    margin-bottom: 25%;
    opacity: 0.6;
    transition-duration: 0.5s;
}

.hm-back-float{
	margin-top:25%;
	margin-left: 25%;
}

.hm-payment-list{
	width: 100%;
	height: 85%;
	overflow: hidden;
}
.hm-pay-div{
	display: inline-block;
	width: 100%;
	margin-top: 1%;
}
.hm-textarea{
	border: 1px solid gray !important;
	box-shadow: none !important;
}