/* POS Ticket receipt width overwrite */

@media print {
	 .pos .smallsize{
        width: 195px !important;
        font-size: 12px !important;
    }
    .pos .mediumsize{
        width: 230px !important;
        font-size: 12px !important;
    }
	}