/* ----------MEDIA QUERY---------- */

/* ---------- MOBILE---------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
	
	.sks-sec2-contact-div2 {
		display: none !important;
	}
	
	.sks-sec2-contact-div3 {
		width: 100% !important;
	}

}

/* Mobile View - Small */
@media only screen and (max-width:320px){
/*Title*/
	.sks-sec2-contact-h2 {
		font-size: 1.5em;
	}
/*Content*/
	.sks-sec2-contact-p1 {
		font-size: 13px;
	}
/*Form*/
	.sks-career-form , .sks-career-form-label {
		font-size: 13px;
	}
	.sks-career-form-name {
		width: 15em !important;
	}
	.sks-career-form-qualification {
		width: 14.3em !important;
	}
	.sks-career-form-phone {
		width: 15.3em !important;
	}
	.sks-career-form-email {
		width: 13.1em !important;
	}
	.sks-career-form-about {
		width: 11.8em !important;
	}
/*Button*/
	.sks-form-upload-btn {
	    width: 50%;
	    margin-left: 0%;
	    margin-right: 0%;
	}
	.sks-form-submit-btn {
	    width: 50%;
	    margin-left: 0%;
	    margin-right: 0%;
	}
	.btn-next {
	    font-size: 12px;
	    width: 85%;
	}
}


/* Mobile View - Medium */
@media only screen and (min-width:321px) and (max-width:375px){
/*Title*/
	.sks-sec2-contact-h2 {
		font-size: 2em;
	}
/*Content*/
	.sks-sec2-contact-p1 {
		font-size: 14px;
	}
/*Form*/
	.sks-career-form , .sks-career-form-label {
		font-size: 16px;
	}
	.sks-career-form-name {
		width: 12em !important;
	}
	.sks-career-form-qualification {
		width: 11.3em !important;
	}
	.sks-career-form-phone {
		width: 12.3em !important;
	}
	.sks-career-form-email {
		width: 10.1em !important;
	}
	.sks-career-form-about {
		width: 8.8em !important;
	}
/*Button*/
	.sks-form-upload-btn {
	    width: 50%;
	    margin-left: 0%;
	    margin-right: 0%;
	}
	.sks-form-submit-btn {
	    width: 50%;
	    margin-left: 0%;
	    margin-right: 0%;
	}
	.btn-next {
	    font-size: 12px;
	    width: 85%;
	}
}


/* Mobile View - Large */
@media only screen and (min-width:376px) and (max-width:425px){
/*Title*/
	.sks-sec2-contact-h2 {
		font-size: 2.5em;
	}
/*Form*/
	.sks-career-form , .sks-career-form-label{
		font-size: 18px;
	}
	.sks-career-form-name {
		width: 14em !important;
	}
	.sks-career-form-qualification {
		width: 13.3em !important;
	}
	.sks-career-form-phone {
		width: 14.3em !important;
	}
	.sks-career-form-email {
		width: 12.1em !important;
	}
	.sks-career-form-about {
		width: 10.8em !important;
	}
/*Button*/
	.sks-form-upload-btn {
	    width: 50%;
	    margin-left: 0%;
	    margin-right: 0%;
	}
	.sks-form-submit-btn {
	    width: 50%;
	    margin-left: 0%;
	    margin-right: 0%;
	}
	.btn-next {
	    font-size: 12px;
	    width: 85%;
	}
}


/* Tablet View */
@media only screen and (min-width:426px) and (max-width:768px){

}


/* Laptop View */
@media only screen and (min-width:769px) and (max-width:1024px){

}


/* Laptop View - Large*/
@media only screen and (min-width:1025px) and (max-width:1440px){

}