/* ----------MEDIA QUERY---------- */

/* ---------- MOBILE---------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 768px) {
	
	.title_fix_cntr {
		top: 40%;
	    position: sticky;
	}
	
	.sks-sec2-contact-inside1 {
		display: none !important;
	}
	
	.sks-sec2-contact-inside2 {
		width: 100% !important;
	}

}

/* Mobile View - Small */
@media only screen and (max-width:320px){
	.sks-sec2-contact-inside-div2 {
		width:100%;
	}
	.sks-sec2-contact-inside-div2 {
		width:100%;
	}
	.sks_float_form {
		width: 100%;
	}
	.phone-container , .phone-input {
		font-size: 15px;
	}
	.sks_contact_name {
		width: 9.6em !important;
	}
	.sks_contact_company {
		width: 11.3em !important;
	}
	.sks_contact_email {
		width: 7.7em  !important;	
	}
	.sks_contact_phone {
		width: 7.7em  !important;
	}
	.sks_contact_project {
		width: 6.3em  !important;
	}
}


/* Mobile View - Medium */
@media only screen and (min-width:321px) and (max-width:375px){
	.sks-sec2-contact-inside-div2 {
		width:100%;
	}
	.sks-sec2-contact-inside-div2 {
		width:100%;
	}
	.sks_float_form {
		width: 100%;
	}
	.phone-container , .phone-input {
		font-size: 15px;
	}
	.sks_contact_name {
		width: 13em !important;
	}
	.sks_contact_company {
		width: 14.7em !important;
	}
	.sks_contact_email {
		width: 11.1em  !important;	
	}
	.sks_contact_phone {
		width: 11.1em  !important;
	}
	.sks_contact_project {
		width: 9.7em  !important;
	}
}

/* Mobile View - Large */
@media only screen and (min-width:376px) and (max-width:425px){
	.sks-sec2-contact-inside-div2 {
		width:100%;
	}
	.sks-sec2-contact-inside-div2 {
		width:100%;
	}
	.sks_float_form {
		width: 100%;
	}
	.phone-container , .phone-input {
		font-size: 15px;
	}
}

/* Tablet View */
@media only screen and (min-width:426px) and (max-width:768px){

}


/* Laptop View */
@media only screen and (min-width:769px) and (max-width:1024px){
	.p4-container {
		width: 150%;
	}
	.sks_float_form_content {
		width: 100%;
	}
	.sks_float_form {
		width: 100%;
	}
	.sks_contact_name {
		width: 13em !important;
	}
	.sks_contact_company {
		width: 14.7em !important;
	}
	.sks_contact_email {
		width: 11.1em  !important;	
	}
	.sks_contact_phone {
		width: 11.1em  !important;
	}
	.sks_contact_project {
		width: 9.7em  !important;
	}
}


/* Laptop View - Large*/
@media only screen and (min-width:1025px) and (max-width:1440px){

}