.pos .SessionButton:hover {
     color: rgb(94, 185, 55);
}
.pos .endsessionbutton{
	font-size: 14px;
    text-align: center;
    height: 40px;
    padding: 0;
    background: #6EC89B; /*rgb(129, 68, 107);  #7c7bad; */
    color: #fff;
    width:15%;
    border:1px solid #6EC89B;
}
.pos .validate{
	width:35%;
}
.pos .modal-dialog .popup.session-popup {
	width: 70%;
	height: 730px;
	/* #e2e2e2 */
}
.pos .popup .session-title {
	 background:#e2e2e2 
}	
.session-group > thead > tr > th,
.session-group > tbody > tr > th,
.session-group > tfoot > tr > th,
.session-group > thead > tr > td,
.session-group > tbody > tr > td,
.session-group > tfoot > tr > td,
.session-group  {
	padding: 10px; 
	font-size: 16px;
	font-weight: normal;
	border-spacing: 10px;
	padding-top: .5em;
	padding-bottom: .5em;
	vertical-align: top;
}
.text1 > tbody > tr > td:first-child,
.text2 > tbody > tr > td:first-child,
.text3 > tbody > tr > td:first-child,
.text4 > tbody > tr > td:first-child,
.text5 > tbody > tr > td:first-child 
{
	font-weight: bold;
}
.text3 > tbody > tr > td,
.text4 > tbody > tr > td,
.text5 > tbody > tr > td
{
	text-align: right;
}
.text3 tr:first-child td,
.text4 tr:first-child td,
.text5 tr:first-child td
{
   font-weight: bold;
}
.pos .modal-dialog .session-button
{
	font-size: 14px;
	text-align: left;
	height: 40px;
}
.pos_button_box {
    text-align: right;
    float: right;
    padding-right: 20px;
}
.pos .modal-dialog .session-button:hover {
    background: #6EC89B;
}
.box { 
	display: block; 
	padding: 4px; 
	margin: 10px 0; 
	font-size: 16px;
	font-weight: normal;
}
.pos .modal-dialog .popup.balance-popup {
	width: 700px;
	height: 600px;
}
.pos .popup .session-balance{
    overflow: auto;
    height: 450px;
    margin: 10px;
}
.pos .modal-dialog .popup.balance-popup input{
    text-align: left;
    display: inline-block;
    overflow: hidden;
    background: white;
    min-height: 34px;
    font-family: "Lato";
    font-size: 18px;
    color: #444;
    padding: 10px;
    border-radius: 3px;
    border: none;
    box-shadow: 0px 0px 0px 1px rgb(220,220,220) inset;
    box-sizing: border-box;
    width: 100%;
}
.display-hide{
	display:none !important;
}

.partner_datalist {
	background: none;
	border-bottom: 1px solid;
	border-top: none;
	border-left: none;
	border-right: none;
}

.session_tr_height{
	height: 50px;
}

.display_none {
	display: none;
}

/* .partner_select {
	height: 35px !important;
} */

.pos_button_section {
	padding: 20px
}

.night_audit_table_border{
	border: 1px solid;
}

/* body {
  font-family: 'lato', sans-serif;
} */
.hm_night_audit_container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;

}
/* 
h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
} */


  .hm_night_audit_table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  /*  .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
  } */
  .night_audit_table_row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  } 
/*   .col-1 {
    flex-basis: 10%;
  }
  .col-2 {
    flex-basis: 40%;
  }
  .col-3 {
    flex-basis: 25%;
  }
  .col-4 {
    flex-basis: 25%;
  } */
  
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    .col {
      flex-basis: 100%;
    }
    .col {
      display: flex;
      /* padding: 10px 0; */
       padding: 5px 0; 
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }











/*  .right {
  position: absolute;
  right: 0px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}

.left {
  position: absolute;
  left: 0px;
  width: 300px;
  border: 3px solid #73AD21;
  padding: 10px;
}  */

 .container_checkbox {
  display: block;
  position: relative;
   padding-left: 35px; 
   margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 50px;
  background-color: #b2b2b2;;
  border-radius: 50px;
}

.container_checkbox input:checked ~ .checkmark {
  background-color: green;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container_checkbox input:checked ~ .checkmark:after {
  display: block;
}

.container_checkbox .checkmark:after {
  left: 10px;
  top: -5px;
  width: 20px;
  height: 30px;
  border: solid white;
  border-width: 0 10px 10px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.night_audit_popup_title{
	background: #81446b !important;
	color: white;
}

.float_left{
	float:left !important;
}
.ser_col{
	display: block;
}
.details_height{
	height:550px !important;
}
.night_audit_box{
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.12), 0 2px 4px 0 rgba(0,0,0,0.08);
	 background-color: white;
	 margin-left: 5%; 
	 width: 90%; 
	 padding: 1px;
}

.night_audit_li_background_color{
	background-color: #CAF9F7;
}

.night_audit_li{
	padding: 1px !important; 
	
}

.night_audit_footer_btn{
	background-color:#81446b !important;
	color: white;
	margin-right: 40px !important;
}

.night_audit_footer_btn_left{
	margin-left: 40px !important;
}

.night_audit_overflow{
  overflow: auto;
  height: 200px 	
} 

.ok_img {
	position: absolute;
	top: 0;
	left: 0;
	width: 5%
}

.popup_confirm {
	width: 40% !important;
	height: 60% !important;
}